@model BeautyStoreApp.Models.Product

@{
    ViewData["Title"] = "Edit Produk";
}

<div class="container">

    <h2 class="mb-4">Edit Produk</h2>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <input asp-for="Id" type="hidden" />
        <input asp-for="Image" type="hidden" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Kategori</label>
            <select asp-for="CategoryId"
                    asp-items="ViewBag.Categories"
                    class="form-select">
            </select>
        </div>

        <div class="mb-3">
            <label>Brand</label>
            <select asp-for="BrandId"
                    asp-items="ViewBag.Brands"
                    class="form-select">
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control"/>
        </div>

        <div class="mb-3">
            <label asp-for="Stock"></label>
            <input asp-for="Stock" class="form-control"/>
        </div>

        <div class="mb-3">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" class="form-control"/>
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"
                      class="form-control"></textarea>
        </div>

        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div class="mb-3">

                <label>Gambar Saat Ini</label><br />

                <img src="~/images/products/@Model.Image"
                     width="180"
                     class="img-thumbnail"/>

            </div>
        }

        <div class="mb-3">

            <label asp-for="ImageFile">
                Ganti Gambar
            </label>

            <input asp-for="ImageFile"
                   type="file"
                   class="form-control"/>

        </div>

        <button class="btn btn-primary">
            Update
        </button>

        <a asp-action="Index"
           class="btn btn-secondary">
            Kembali
        </a>

    </form>

</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial"/>

}